<div class="card p-2">
    <div class="input-group input-group-merge">
        <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
        <input type="text" class="form-control" placeholder="Search..." aria-label="Search..."
            aria-describedby="basic-addon-search31">
    </div>
    <div class="table-responsive text-nowrap mt-4">
        <!-- <button *ngFor="let item of arrayColor" class="btn m-5"
        [style.background-color]="'#' + item.color"
        >Đăng xuất</button> -->
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th class="text-light">Mã đơn hàng</th>
                    <th class="text-light">Ngày tháng</th>
                    <th class="text-light">Số điện thoại</th>
                    <th class="text-light">Tổng tiền</th>
                    <th class="text-light"></th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                <tr>
                    <td>HD-0-0-01</td>
                    <td> 20/02/2023</td>
                    <td>0987654321</td>
                    <td>20.000.000 đ</td>
                    <td class="d-flex gap-3">
                        <button class="btn btn-sm btn-outline-danger"><i class="fa-solid fa-xmark"></i></button>
                        <button class="btn btn-sm btn-secondary"><i class="fa-solid fa-list"></i></button>
                        <button class="btn btn-sm btn-success"><i class="fa-solid fa-check"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
