<div class="card p-2">
    <div class="input-group input-group-merge">
        <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
        <input type="text" class="form-control" placeholder="Search..." aria-label="Search..."
            aria-describedby="basic-addon-search31">
    </div>
    <div class="table-responsive text-nowrap mt-4">
        <!-- <button *ngFor="let item of arrayColor" class="btn m-5"
        [style.background-color]="'#' + item.color"
        >Đăng xuất</button> -->
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th class="text-light">Hình ảnh</th>
                    <th class="text-light">Tiêu đề</th>
                    <th class="text-light">Ngày đăng</th>
                    <th class="text-light">Trạng thái</th>
                    <th class="text-light">Giảm giá</th>
                    <th class="text-light">
                        <button class="btn btn-sm btn-primary"><i class="fa-solid fa-plus"></i></button>
                    </th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                <tr>
                    <td><img src="https://images.samsung.com/is/image/samsung/p6pim/vn/sm-s711bzabxxv/gallery/vn-galaxy-s23-fe-s711-sm-s711bzabxxv-thumb-538357410?$216_216_PNG$"
                            alt="" class="avatar"></td>
                    <td>Galaxy S24 Ultra</td>
                    <td> 20/02/2023</td>
                    <td>còn hàng</td>
                    <td>100.000 đ</td>
                    <td>
                        <button class="btn btn-sm btn-secondary"><i class="fa-regular fa-pen-to-square"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>