<div class="container__home">
    <aside class="main__aside container_home">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let item of IsSlider" [class.active]="activeSlider == item.id">
                    <img src="https://localhost:7041/api/Images/images-blogs/{{item.image}}?imwidth=1366"
                        class="d-block w-100" alt="...">
                    <div class="main__aside--content">
                        <div class="main__aside--content--item text-center">
                            <p> {{item.category}} </p>
                            <h2>
                                {{item.title}}
                            </h2>
                            <!-- <p>
                                Hoạt động ngoài trời hoàn hảo cho ngày nắng đẹp
                            </p> -->
                            <div class="content__button">
                                <button (click)="ChangeUrl(item.id)">Tìm hiểu thêm</button>
                            </div>
                        </div>
                    </div>
                    <div class="above--item"></div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev" *ngIf="IsSlider.length > 1">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                *ngIf="IsSlider.length > 1" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </aside>
    <section class="group--button">
        <button [class.btn--active]="isActive == 0" (click)="isActive = 0; LoadBlogs(isActive)">Tất cả</button>
        <button *ngFor="let item of listCategory" [class.btn--active]="isActive == item.id"
            (click)="isActive = item.id; LoadBlogs(item.id)">{{item.name}}</button>
    </section>
    <article class="artcle--content">
        <section class="main--article">
            <section class="artcle--content--list">
                <div class="artcle--content--list--cart" *ngFor="let item of listBlogs">
                    <button (click)="ChangeUrl(item.id)" class="artcle--content--list--cart--image">
                        <img src="https://localhost:7041/api/Images/images-blogs/{{item.image}}" alt="">
                    </button>
                    <p> {{item.category}} </p>
                    <h3> {{item.title}} </h3>
                </div>
            </section>
        </section>
    </article>
</div>