@import "../home.component.scss";
$colorBlack_2929: #555;
$colorWite_f7f7: #f7f7f7;
$colorGray: #555555;
$colorBule_006: #006bea;
$colorRed_ef3: #ef3434;
* {
    color: $colorBlack;
}
@mixin themeBtnAside {
    border-radius: 50%;
    background-color: #00000083;
    &:hover {
        background-color: black;
    }
}

.main__aside {
    position: relative;
    &--img {
        width: 100%;
        height: 100%;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    & .carousel-item {
        width: 100%;
        height: 640px;
        position: relative;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        & .above--item {
            position: absolute;
            top: 0px;
            bottom: 0px;
            width: 100%;
            height: 100%;
            background-color: #0000004d;
        }
    }
    & .carousel-control-next-icon,
    .carousel-control-prev-icon {
        @include themeBtnAside();
    }
    & .carousel-control-prev,
    .carousel-control-next {
        width: 5%;
    }
    &--content {
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
        &--item {
            width: 720px;
            h2 {
                font-size: 48px;
                font-weight: 700;
                height: 7.3rem;
                line-height: 1.22;
                text-shadow: 0 0 2px black;
                color: white;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p {
                margin-top: 24px;
                font-size: 18px;
                line-height: 1.5;
                font-weight: 400;
                color: white;
            }
            & .content__button {
                margin-top: 40px;
                button {
                    padding: 10px 24px;
                    color: black;
                    background-color: white;
                    border: 1px solid transparent;
                    border-radius: 20px;
                    font-size: 14px;
                    font-weight: 700;
                    &:hover {
                        background-color: $colorWite_f7f7;
                    }
                }
            }
        }
    }
}

.artcle--content {
    margin-top: 48px;
    padding: 0px 24px;
    & h2 {
        font-size: 20px;
        font-family: "SamSungOne", arial, sans-serif;
        font-weight: bold;
    }
    .main--article {
        overflow: hidden;
        width: 100%;
        position: relative;
        & .btn--tranform {
            position: absolute;
            top: 30%;
            @include themeBtnAside();
            font-size: 16px;
            background-color: rgba(0, 0, 0, 0.45);
            border: 2px dashed transparent;
            border: none;
            width: 40px;
            height: 40px;
            z-index: 999;
            &:hover {
                border: 2px dashed white;
            }
            & i {
                color: white;
            }
            &:first-child {
                left: 25px;
            }
            &:last-child {
                right: 25px;
            }
        }
        & .artcle--content--list {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 24px;
            transition: all 0.25s linear;
            &--cart {
                width: calc(100% / 3 - 24px);
                &--image {
                    width: 100%;
                    height: 290px;
                    border-radius: 20px;
                    overflow: hidden;
                    margin-bottom: 24px;
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
                    &:hover {
                        & img {
                            transition: all 0.25s linear;
                            transform: scale(1.1);
                        }
                    }
                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 20px;
                    }
                }
                & p {
                    font-size: 12px;
                    font-weight: 400;
                    margin: 0px 0px 8px 0px;
                    padding: 0px 24px;
                }
                & h3 {
                    font-size: 22px;
                    text-align: justify;
                    padding: 0px 4px;
                    padding: 0px 24px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
.group--button {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    & button {
        padding: 8px 16px;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        background-color: transparent;
        font-size: 12px;
        position: relative;
        &::after {
            content: " ";
            position: absolute;
            top: 0px;
            left: 0px;
            border-radius: 20px;
            border: 1px dashed transparent;
            height: 100%;
            width: 100%;
        }
        &:hover {
            background-color: #e4e4e4;
        }
    }
    & .btn--active {
        &::after {
            content: " ";
            position: absolute;
            top: 0px;
            left: 0px;
            border-radius: 20px;
            border: 1px dashed;
            height: 100%;
            width: 100%;
        }
    }
}
