<div class="card p-2">
    <div class="row">
        <div class="col-2">
            <button class="btn btn-outline-primary" (click)="isCategory = true">Danh mục sản phẩm</button>
        </div>
        <div class="col-10">
            <div class="input-group input-group-merge">
                <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
                <input type="text" class="form-control" placeholder="Search..." aria-label="Search..."
                    [formControl]="inputControl" aria-describedby="basic-addon-search31">
            </div>
        </div>
    </div>
    <div class="table-responsive text-nowrap mt-4">
        <!-- <button *ngFor="let item of arrayColor" class="btn m-5"
        [style.background-color]="'#' + item.color"
        >Đăng xuất</button> -->
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th class="text-light">STT</th>
                    <th class="text-light">Mã</th>
                    <th class="text-light">Hình ảnh</th>
                    <th class="text-light">Tên sản phẩm</th>
                    <th class="text-light">Giá</th>
                    <th class="text-light">Giảm giá</th>
                    <th class="text-light">Trạng thái</th>
                    <th class="text-light">
                        <button class="btn btn-sm btn-primary" (click)="openPopup('add')">
                            <i class="fa-solid fa-plus"></i></button>
                    </th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                <tr *ngFor="let item of productResponse; let i = index">
                    <td class="text-uppercase"> {{i + 1}} </td>
                    <td class="text-uppercase"> {{item.id}} </td>
                    <td><img src="https://localhost:7041/api/Images/images-detal/{{item.image}}" alt="" class="avatar">
                    </td>
                    <td class="text-capitalize"> {{item.name}} </td>
                    <td> {{item.price | currency:' ':'symbol':'1.0-0'}}.000 đ</td>
                    <td> {{item.voucher| currency:' ':'symbol':'1.0-0'}}.000 đ</td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input cursor-pointer" type="checkbox" id="flexSwitchCheckDefault"
                                [checked]="item.status" (click)="UpdateStatus(item.id)">
                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                        </div>
                    </td>
                    <td>
                        <!-- <button class="btn btn-sm btn-dark me-3"><i class="fa-solid fa-bars"></i></button> -->
                        <button class="btn btn-sm btn-warning" (click)="openPopup(item.id)">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- model -->
<section class="main--popup" [class.open--popup]="isPopup">
    <div class="main--popup--cart">
        <div class="main--popup--header">
            <h3> {{titlePopup}} </h3>
            <button class="btn btn-danger btn-sm" (click)="Isreload(); LoadPage()">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="main--popup--body">
            <app-add-product *ngIf="isTypePopup"></app-add-product>
            <app-edit-product *ngIf="!isTypePopup"></app-edit-product>
        </div>
    </div>
</section>
<!-- model -->

<!-- model -->
<section class="main--popup" [class.open--popup]="isCategory">
    <div class="main--popup--cart" style="width: 900px; height: auto;">
        <div class="main--popup--header">
            <h3> Danh mục sản phẩm </h3>
            <button class="btn btn-danger btn-sm" 
            (click)="isCategory = false;ngOnInit()">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="main--popup--body" style="height: auto;">
            <app-category></app-category>
        </div>
    </div>
</section>
<!-- model -->