<header>
    <div class="main">
        <div class="main__item">
            <div class="main__item--button">
                <button>
                    <i class="fa-solid fa-arrow-left"></i>
                    <span>Quay lại</span>
                </button>
            </div>
        </div>
        <div class="main__item--link">
            <a href="/sign-up">Tạo tài khoản</a>
        </div>
    </div>
</header>

<section class="container__login">
    <div class="container__login--top">
        <img src="./assets/logo-duan-a.fish/Beige_Blue_Simple_Fishing_Store_Logo-removebg-preview.png" alt="">
        <h1>Đăng nhập</h1>
        <p class="title__create--account">Bạn chưa có tài khoản? <span><a href="/sign-up">Tạo tài khoản</a></span></p>
    </div>
    <div class="container__login--group">
        <div class="group__input">
            <h3>Đăng nhập với {{type}} của bạn</h3>
            <!-- login by email -->
            <form [formGroup]="LoginByEmail" *ngIf="type == 'email'">
                <!-- login by email -->
                <div class="controll__input">
                    <label for="email">Email</label><br>
                    <input maxlength="50" type="email" id="email" name="email" formControlName="email"
                        placeholder="Nhập email của bạn" required><br>
                    <span *ngIf="LoginByEmail.get('email')?.errors?.['required']">Bạn chưa nhập email</span>
                    <span *ngIf="LoginByEmail.get('email')?.errors?.['email']">Emai không đúng định dạng</span>
                </div>
                <!-- login by email -->

                <!-- password -->
                <div class="controll__input">
                    <div class="main__label">
                        <label for="password">Mật khẩu</label>
                        <div class="main__label--item">
                            <button><i class="fa-regular fa-eye"></i> <span>hiển thị mật khẩu</span></button>
                        </div>
                    </div>
                    <input type="password" formControlName="password" id="password" placeholder="Nhập mật khẩu"><br>
                    <span *ngIf="LoginByEmail.get('password')?.errors?.['required']">Bạn chưa nhập mật khẩu</span>
                </div>
                <!-- password -->
                <button [disabled]="LoginByEmail.invalid">Đăng nhập <span><i
                            class="fa-solid fa-arrow-right"></i></span></button>
            </form>
            <!-- login by email -->

            <!-- login by phone -->
            <form [formGroup]="LoginByPhone" *ngIf="type == 'phone'">
                <!-- login by phone -->
                <div class="controll__input">
                    <label for="phone">Số điện thoại</label><br>
                    <input maxlength="10" type="text" id="phone" name="phone" formControlName="phone"
                        placeholder="Nhập số điện thoại của bạn" required><br>
                    <span *ngIf="LoginByPhone.get('phone')?.errors?.['required']">Bạn chưa nhập số điện thoại</span>
                </div>
                <!-- login by phone -->

                <!-- password -->
                <div class="controll__input">
                    <div class="main__label">
                        <label for="password">Mật khẩu</label>
                        <div class="main__label--item">
                            <button><i class="fa-regular fa-eye"></i> <span>hiển thị mật khẩu</span></button>
                        </div>
                    </div>
                    <input type="password" formControlName="password" id="password" placeholder="Nhập mật khẩu"><br>
                    <span *ngIf="LoginByPhone.get('password')?.errors?.['required']">Bạn chưa nhập mật khẩu</span>
                </div>
                <!-- password -->
                <button [disabled]="LoginByPhone.invalid">Đăng nhập</button>
            </form>
            <!-- login by phone -->

            <!-- login by user-name -->
            <form [formGroup]="LoginByUserName" *ngIf="type == 'user-name'">
                <!-- login by user-name -->
                <div class="controll__input" *ngIf="type == 'user-name'">
                    <label for="user-name">Tên đăng nghập</label><br>
                    <input maxlength="50" type="text" id="user-name" name="user-name" formControlName="userName"
                        placeholder="Nhập tên đăng nhập của bạn" required><br>
                    <span *ngIf="LoginByUserName.get('userName')?.errors?.['required']">Bạn chưa nhập tên đăng
                        nhập</span>
                </div>
                <!-- login by user-name -->

                <!-- password -->
                <div class="controll__input">
                    <div class="main__label">
                        <label for="password">Mật khẩu</label>
                        <div class="main__label--item">
                            <button><i class="fa-regular fa-eye"></i> <span>hiển thị mật khẩu</span></button>
                        </div>
                    </div>
                    <input type="password" formControlName="password" id="password" placeholder="Nhập mật khẩu"><br>
                    <span *ngIf="LoginByUserName.get('password')?.errors?.['required']">Bạn chưa nhập mật khẩu</span>
                </div>
                <!-- password -->
                <button (click)="Sumbit_Form()" [disabled]="LoginByUserName.invalid">Đăng nhập</button>
            </form>
            <!-- login by user-name -->
        </div>
        <div class="line__center">
            <span>OR</span>
        </div>
        <div class="group__button">
            <a href="/login/user-name">

                <button *ngIf="type != 'user-name'"><i class="fa-solid fa-user"></i> <span>Đăng nhập với tên tài
                        khoản</span> </button>
            </a>
            <a href="/login/phone">
                <button *ngIf="type != 'phone'"><i class="fa-solid fa-square-phone"></i><span>Đăng nhập với số điện
                        thoại</span> </button>
            </a>
            <a href="/login/email">
                <button *ngIf="type != 'email'"><i class="fa-solid fa-envelope"></i> <span>Đăng nhập với email</span>
                </button>
            </a>
        </div>
    </div>
    <div class="container__login--forget">
        <a href="/forget-password">Quên mật khẩu</a>
    </div>
</section>