@import "../home/home.component.scss";
// khai báo biến
$gray_666_80: #666666d8;
$blue_black: #001e39;
$gray_666: #666666;
$bule_003: #003465;
$bule_125: #085297;
$red_EE1: #ee1d52;
$bule_0D: #0d6dc8;
$colorRed_ef3: #ef3434;
$colorGray__d9: #d9d9d9;
// mixin
*{
    color: black;
}
@mixin button-come-back {
    color: $gray_666;
    border: none;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.25s linear;
}
@mixin button-login {
    width: calc(100%);
    padding: 14px 0px;
    font-size: clamp(1.125rem, 1.0617rem + 0.2699vw, 1.375rem);
    border: none;
    color: white;
    background-color: $bule_003;
    border: 1px solid $blue_black;
    border-radius: 16px;
    margin-top: 24px;
    cursor: pointer;
    transition: all 0.25s linear;
    &:hover {
        background-color: $bule_125;
    }
    &:disabled,
    &[disabled] {
        opacity: 0.7;
        cursor: default;
        pointer-events: none;
    }
}
@mixin input-login {
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 16px;
    padding: 15px 24px;
    width: calc(100%);
    border-radius: 12px;
    border: 1px solid $gray_666_80;
    &:focus {
        outline: none;
        border: 1px solid $bule_0D;
    }
}
// animation form
@keyframes animation_group_input {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes animation_group_button {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes animation_title_form {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.login__container {
    &--line {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1px;
        background-color: $colorGray__d9;
        margin-top: 20px;
        & span {
            background-color: white;
            color: black;
            padding: 0px 20px;
            font-size: 12px;
        }
    }
    &--form {
        & .text-danger {
            color: $colorRed_ef3 !important;
        }
        & .input-group{
            & .form-control{
                &:focus{
                    outline: none;
                    border: 1px dashed black;
                }
            }
        }
    }
    &--button {
        button {
            padding: 10px 24px;
            color: white;
            background-color: black;
            border: 1px solid;
            border-radius: 6px;
            font-size: 14px;
            font-weight: 700;
            width: 100%;
            &:hover {
                background-color: #2b2b2b;
            }
        }
    }
}

// // responsevi
// @media screen and (max-width: 1000px) {
//     .container__login--group {
//         flex-direction: column;
//         height: auto !important;
//         margin-top: 10px !important;
//         .line__center {
//             display: none;
//         }
//         .group__input {
//             padding: 0px;
//             width: 70% !important;
//             h3 {
//                 display: none;
//             }
//         }
//         .group__button {
//             width: 70% !important;
//             padding: 0px;
//             width: 100%;
//             button {
//                 width: 100%;
//             }
//         }
//     }
// }
// @media screen and (max-width: 555px) {
//     .group__button {
//         grid-template-columns: 1fr 1fr 1fr;
//         gap: 20px;
//         button {
//             text-align: center !important;
//             padding: 10px 20px !important;
//             span {
//                 display: none;
//             }
//         }
//     }
// }
