<div class="main_w">
    <nav class="hearder__top container__home">
        <div class="result">
            {{listProduct.length}} kết quả
        </div>
        <section class="menu__category">
            <button class="active__category" (click)="FiterByType(isFiter, 0)"
                [class.active__category]="isActive == 0">Tất
                cả</button>
            <button *ngFor="let item of listCategorys" (click)="FiterByType(isFiter, item.id)"
                [class.active__category]="isActive == item.id"> {{item.name}}</button>
        </section>
    </nav>
</div>
<div class="main_w nav--sticky" *ngIf="isSticky">
    <nav class="hearder__top container__home">
        <div class="result">
            {{listProduct.length}} kết quả
        </div>
        <section class="menu__category">
            <button class="active__category" (click)="FiterByType(isFiter, 0)"
                [class.active__category]="isActive == 0">Tất
                cả</button>
            <button *ngFor="let item of listCategorys" (click)="FiterByType(isFiter, item.id)"
                [class.active__category]="isActive == item.id"> {{item.name}}</button>
        </section>
    </nav>
</div>
<div class="container__home">
    <article class="p-main">
        <section class="menu__shop">
            <div class="fiter--price" *ngFor="let item of listFiter">
                <p> {{item.title}} </p>
                <button class="fiter--item" *ngFor="let i of item.items" [class.fw-bold]="isFiter == i.type"
                    (click)="FiterByType(i.type, isActive); isFiter = i.type">
                    <span [class.active--btn]="isFiter == i.type">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    {{i.title}}
                </button>
            </div>
        </section>

        <section class="list__product" *ngIf="listProduct.length > 0">
            <div class="main__cart" *ngFor="let item of listProduct; let i = index">
                <div class="main__cart--left">
                    <div class="left__image">
                        <div class="left__image--item">
                            <img src="https://localhost:7041/api/Images/images-detal/{{item.image}}" alt="">
                        </div>
                        <div class="left__image--button">
                            <button data-bs-toggle="modal" data-bs-target="#modalToggle"
                                (click)="DetalItem(item.id)">Tổng
                                quan</button>
                        </div>
                    </div>
                    <div class="left__content">
                        <button (click)="ProductHome(item.id)" class="left__content--name">
                            <p class="text-capitalize"> {{item.name}} </p>
                        </button>
                        <div class="left__content--des" [innerHTML]="item.description">
                            <!-- {{item.description}} -->
                        </div>
                    </div>
                </div>
                <div class="main__cart--right">
                    <div class="right__top">
                        <div class="right__top--price">
                            <div class="d-flex align-items-center gap-2 mb-3">
                                <p class="price m-0"> {{item.price - item.voucher| currency:' ':'symbol':'1.0-0'}}.000đ
                                </p>
                                <span *ngIf="item.voucher > 0" class="text-decoration-line-through fw-bold fs-6"
                                    style="color: #006bea;">
                                    {{item.price | currency:'
                                    ':'symbol':'1.0-0'}}.000đ </span>
                            </div>
                            <p><i class="fa-solid fa-check"></i> còn hàng</p>
                            <p style="margin-top: 10px;">Mở ra kỷ nguyên điện thoại mới với quyền năng Galaxy AI</p>
                            <p style="margin-top: 10px;">Mở ra kỷ nguyên điện thoại mới với quyền năng Galaxy AI</p>
                            <p style="opacity: 0;">Mở ra kỷ nguyên điện thoại mới với quyền năng Galaxy AI</p>
                        </div>
                    </div>
                    <div class="right__bottom">
                        <button (click)="ByNow(item.id)">Mua ngay</button>
                        <button class="btn__add--cart" (click)="AddToCart(item.id)">Thêm vào giỏ hàng</button>
                    </div>
                </div>
                <button class="btn--remove--item" *ngIf="isFiter == 6 || isFiter == 7"
                    (click)="RemoveItem(item.id, isFiter, isActive)">
                    <i class="fa-solid fa-xmark hide"></i>
                </button>
                <div class="poplar--badge" *ngIf="isFiter == 3 && i == 0">
                    <img src="https://images.samsung.com/is/image/samsung/assets/sg/dev-assets/refrigerator-flag/rank1.png?$ORIGIN_PNG$"
                        alt="">
                </div>
                <div class="poplar--badge" *ngIf="isFiter == 3 && i == 1">
                    <img src="https://images.samsung.com/is/image/samsung/assets/sg/dev-assets/refrigerator-flag/rank2.png?$ORIGIN_PNG$"
                        alt="">
                </div>
                <div class="poplar--badge" *ngIf="isFiter == 3 && i == 2">
                    <img src="https://images.samsung.com/is/image/samsung/assets/sg/dev-assets/refrigerator-flag/rank3.png?$ORIGIN_PNG$"
                        alt="">
                </div>
            </div>
        </section>

        <div class="list__product d-flex align-items-center justify-content-center" *ngIf="listProduct.length == 0">
            <i class="fa-solid fa-filter-circle-xmark fs-1" style="color: gray;"></i>
            <strong class="fs-3" style="color: gray; font-weight: 500;">Không tìm thấy kết quả</strong>
        </div>
    </article>
    <!-- model -->
    <div class="mt-3">
        <!-- Modal 1-->
        <div class="modal fade" id="modalToggle" aria-labelledby="modalToggleLabel" tabindex="-1" style="display: none;"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="height: 763px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalToggleLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal__body--content">
                            <div class="content__left">
                                <div class="content__left--image">
                                    <div class="main__slider">
                                        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item" *ngFor="let item of listUrls"
                                                    [ngClass]="{'active':item.avatar}">
                                                    <img class="d-block w-100"
                                                        src="https://localhost:7041/api/Images/images-detal/{{item.image}}"
                                                        alt="Second slide">
                                                </div>
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExample" role="button"
                                                data-bs-slide="prev">
                                                <button class="text-center">
                                                    <i class="fa-solid fa-chevron-left"></i>
                                                </button>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExample" role="button"
                                                data-bs-slide="next">
                                                <button class="text-center">
                                                    <i class="fa-solid fa-chevron-right"></i>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="services">
                                    <div class="services--item">
                                        <i class="fa-solid fa-truck-fast"></i>
                                        <p>Miễn Phí Vận Chuyển Toàn Quốc</p>
                                    </div>
                                    <div class="services--item">
                                        <i class="fa-solid fa-repeat"></i>
                                        <p>Đổi trả trong 14 ngày nếu phát sinh lỗi của nhà sản xuất</p>
                                    </div>
                                    <div class="services--item">
                                        <i class="fa-solid fa-mobile-screen"></i>
                                        <p>Thu Cũ Đổi Mới Áp Dụng Cho Cả Thiết Bị Vỡ Màn Hình</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content__right">
                                <div class="content__right--top">
                                    <div class="content__right--name">
                                        <p class="text-capitalize">
                                            {{detalProduct.name}}
                                        </p>
                                    </div>
                                    <div class="content__right--price">
                                        <div class="d-flex align-items-center gap-2 ">
                                            <p class="m-0"> {{detalProduct.price - detalProduct.vourcher| currency:'
                                                ':'symbol':'1.0-0'}}.000đ</p>
                                            <span *ngIf="detalProduct.vourcher > 0"
                                                class="text-decoration-line-through fw-bold fs-6"
                                                style="color: #006bea;">
                                                {{detalProduct.price | currency:' ':'symbol':'1.0-0'}}.000đ </span>
                                        </div>
                                    </div>
                                    <!-- <div class="content__right--color">
                                        <button class="list__color--box" style="background-color: #ef3434;"></button>
                                        <button class="list__color--box"></button>
                                        <button class="list__color--box" style="background-color: #C1D0BE;"></button>
                                    </div>
                                    <div class="content__right--bytes">
                                        <button class="btn__bytes active__bytes">2TB</button>
                                        <button class="btn__bytes">64TB</button>
                                        <button class="btn__bytes">2TB</button>
                                    </div> -->
                                    <div class="content__right--des" [innerHTML]="detalProduct.description">
                                    </div>
                                </div>
                                <div class="content__right--bottom">
                                    <button class="btn__add--cart" (click)="AddToCart(detalProduct.id)">Thêm vào giỏ
                                        hàng</button>
                                    <button (click)="ByNow(detalProduct.id)" data-bs-dismiss="modal"
                                        aria-label="Close">Mua ngay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- model -->
</div>