<nav>
    <div class="container__home main">
        <div class="main__left">
            <div class="main__left--logo">
                <a [routerLink]="['/']">
                    <img [src]="ImageLogo" alt="">
                </a>
            </div>
            <div class="main__left--menu">
                <button [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Trang
                    chủ</button>
                <button [routerLink]="['shop']" routerLinkActive="active">Cửa hàng</button>
                <button [routerLink]="['blogs']" routerLinkActive="active">Bài viết</button>
                <button href="" routerLinkActive="active">Liên hệ</button>
            </div>
        </div>
        <div class="main__right">
            <div class="input__search">
                <form class="d-flex align-items-center justify-content-between">
                    <input type="text" placeholder="Tìm kiếm...." [formControl]="inputControl"
                        (keydown.enter)="Search()">
                    <div class="list__search" *ngIf="isVisilible">
                        <button class="list__search--item" *ngFor="let item of listProduct"
                            (click)="ProductHome(item.id)">
                            <div class="image">
                                <img src="https://localhost:7041/api/Images/images-detal/{{item.image}}" alt="">
                            </div>
                            <div class="name text-capitalize">
                                <h6> {{item.name}} </h6>
                                <div class="pice text-lowercase">
                                    <p> {{item.price - item.voucher | currency:' ':'symbol':'1.0-0'}}.000đ</p>
                                    <span> {{item.price | currency:' ':'symbol':'1.0-0'}}.000đ</span>
                                </div>
                            </div>
                        </button>
                    </div>
                    <button id="buttonSearch" (click)="Search()"><i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <div class="btn__cart">
                <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i
                        class="fa-solid fa-cart-shopping" (click)="openCart = true"></i>
                </button>
                <span class="text-center" *ngIf="countItem > 0"> {{countItem}} </span>
            </div>
            <!-- Example single danger button -->
            <div class="btn__infomation">
                <button *ngIf="infomation">
                    {{infomation.fullName}}
                </button>
                <div class="group__user">
                    <div class="group__user--btn">
                        <button [routerLink]="['my-page']">Thông tin tài khoản</button>
                        <button [routerLink]="['user-order']">Đơn hàng</button>
                        <button (click)="Logout()">Đăng xuất</button>
                    </div>
                </div>
            </div>
            <div class="" *ngIf="!infomation">
                <!-- button open model form login  -->
                <button class="button__login" data-bs-toggle="modal" data-bs-target="#basicModal">Đăng nhập</button>
                <!-- button open model form login  -->
                <a href="sign-up">
                    <button class="button__login sigun_up">Đăng kí</button>
                </a>
            </div>
        </div>
    </div>
</nav>
<!-- sticky -->
<nav class="nav--sticky" *ngIf="isSticky">
    <div class="container__home main">
        <div class="main__left">
            <div class="main__left--logo">
                <a [routerLink]="['/']">
                    <img [src]="ImageLogo" alt="">
                </a>
            </div>
            <div class="main__left--menu">
                <button [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Trang
                    chủ</button>
                <button [routerLink]="['shop']" routerLinkActive="active">Cửa hàng</button>
                <button [routerLink]="['blogs']" routerLinkActive="active">Bài viết</button>
                <button href="" routerLinkActive="active">Liên hệ</button>
            </div>
        </div>
        <div class="main__right">
            <div class="input__search">
                <form class="d-flex align-items-center justify-content-between">
                    <input type="text" placeholder="Tìm kiếm...." [formControl]="inputControl"
                        (keydown.enter)="Search()">
                    <div class="list__search" *ngIf="isVisilible">
                        <button class="list__search--item" *ngFor="let item of listProduct"
                            (click)="ProductHome(item.id)">
                            <div class="image">
                                <img src="https://localhost:7041/api/Images/images-detal/{{item.image}}" alt="">
                            </div>
                            <div class="name text-capitalize">
                                <h6> {{item.name}} </h6>
                                <div class="pice text-lowercase">
                                    <p> {{item.price - item.voucher | currency:' ':'symbol':'1.0-0'}}.000đ</p>
                                    <span> {{item.price | currency:' ':'symbol':'1.0-0'}}.000đ</span>
                                </div>
                            </div>
                        </button>
                    </div>
                    <button id="buttonSearch" (click)="Search()"><i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <div class="btn__cart">
                <button type="button" data-bs-toggle="modal" (click)="openCart = true"
                    data-bs-target="#staticBackdrop"><i class="fa-solid fa-cart-shopping"></i>
                </button>
                <span class="text-center" *ngIf="countItem > 0"> {{countItem}} </span>
            </div>
            <!-- Example single danger button -->
            <div class="btn__infomation">
                <button *ngIf="infomation">
                    {{infomation.fullName}}
                </button>
                <div class="group__user">
                    <div class="group__user--btn">
                        <button [routerLink]="['my-page']">Thông tin tài khoản</button>
                        <button [routerLink]="['user-order']">Đơn hàng</button>
                        <button (click)="Logout()">Đăng xuất</button>
                    </div>
                </div>
            </div>
            <div class="" *ngIf="!infomation">
                <!-- button open model form login  -->
                <button class="button__login" data-bs-toggle="modal" data-bs-target="#basicModal">Đăng nhập</button>
                <!-- button open model form login  -->
                <a href="sign-up">
                    <button class="button__login sigun_up">Đăng kí</button>
                </a>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<footer>
    <section class="main__footer container__home">
        <div class="main__footer--top">
            <div class="footer__top">
                <h3 class="footer__top--title">
                    Sản Phẩm & Dịch Vụ
                </h3>
                <div class="footer__top--item">
                    <ul>
                        <li><a>Điện thoại thông minh</a></li>
                        <li><a>Máy tính bảng</a></li>
                        <li><a>Thiết bị âm thanh</a></li>
                        <li><a>Thiết bị đeo</a></li>
                        <li><a>Phụ kiện</a></li>
                        <li><a>Điện thoại thông minh</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__top">
                <h3 class="footer__top--title">
                    Sản Phẩm & Dịch Vụ
                </h3>
                <div class="footer__top--item">
                    <ul>
                        <li><a>Điện thoại thông minh</a></li>
                        <li><a>Máy tính bảng</a></li>
                        <li><a>Thiết bị âm thanh</a></li>
                        <li><a>Thiết bị đeo</a></li>
                        <li><a>Phụ kiện</a></li>
                        <li><a>Điện thoại thông minh</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__top">
                <h3 class="footer__top--title">
                    Sản Phẩm & Dịch Vụ
                </h3>
                <div class="footer__top--item">
                    <ul>
                        <li><a>Điện thoại thông minh</a></li>
                        <li><a>Máy tính bảng</a></li>
                        <li><a>Thiết bị âm thanh</a></li>
                        <li><a>Thiết bị đeo</a></li>
                        <li><a>Phụ kiện</a></li>
                        <li><a>Điện thoại thông minh</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__top">
                <h3 class="footer__top--title">
                    Sản Phẩm & Dịch Vụ
                </h3>
                <div class="footer__top--item">
                    <ul>
                        <li><a>Điện thoại thông minh</a></li>
                        <li><a>Máy tính bảng</a></li>
                        <li><a>Thiết bị âm thanh</a></li>
                        <li><a>Thiết bị đeo</a></li>
                        <li><a>Phụ kiện</a></li>
                        <li><a>Điện thoại thông minh</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__top border__none">
                <h3 class="footer__top--title">
                    Sản Phẩm & Dịch Vụ
                </h3>
                <div class="footer__top--item">
                    <ul>
                        <li><a>Điện thoại thông minh</a></li>
                        <li><a>Máy tính bảng</a></li>
                        <li><a>Thiết bị âm thanh</a></li>
                        <li><a>Thiết bị đeo</a></li>
                        <li><a>Phụ kiện</a></li>
                        <li><a>Điện thoại thông minh</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main__footer--body">
            <div class="foorter__body">
                <div class="about__bode">
                    <p>By: Lê Sỹ Kiên</p>
                    <p>Phone: 098765431</p>
                    <p>Địa chỉ: Hà huy tập, Tp.Buôn Ma Thuột</p>
                </div>
                <div class="about__logo">
                    <img [src]="ImageLogo" alt="">
                </div>
            </div>
        </div>

    </section>
</footer>
<!-- Modal open list cart -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 1440px; margin: 6rem auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabel">
                    Giỏ hàng của bạn <span class="fs-6">({{countItem}} sản phẩm)</span>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="openCart = false"></button>
            </div>
            <div class="modal-body">
                <div class="fs-5 fw-bold" *ngIf="countItem == 0 
                || openCart == false">
                    Tiếp tục mua sắm
                </div>
                <app-cart *ngIf="countItem > 0 && openCart == true"></app-cart>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button> -->
            </div>
        </div>
    </div>
</div>
<!-- Modal open list cart -->

<!-- modal open form login -->
<div class="modal fade" id="basicModal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin: 8rem auto; max-width: 28rem !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-login></app-login>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
modal open form login

<div class=""></div>
<div class=""></div>
<div class=""></div>
<div class=""></div>
<div class=""></div>
<div class=""></div>
<div class=""></div>