<nav>
    <div class="container_home main">
        <div class="main__left">
            <div class="main__left--logo">
                <img src="./assets/logo-duan-a.fish/Beige_Blue_Simple_Fishing_Store_Logo-removebg-preview.png" alt="">
            </div>
            <div class="main__left--menu">
                <button [routerLink]="['/']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">Trang chủ</button>
                <button [routerLink]="['shop']" routerLinkActive="active">Cửa hàng</button>
                <button href="" routerLinkActive="active">Danh mục sản phẩm</button>
                <button href="" routerLinkActive="active">Bài viết</button>
                <button href="" routerLinkActive="active">Liên hệ</button>  
            </div>
        </div>
        <div class="main__right">
            <div class="input__search">
                <input type="text" placeholder="Tìm kiếm....">
            </div>
            <button id="buttonSearch"><i class="fa-solid fa-magnifying-glass"></i></button>
            <button><i class="fa-solid fa-cart-shopping"></i></button>
            <a href="login/email">
                <button><i class="fa-solid fa-user"></i></button>
            </a>
        </div>
    </div>
</nav>
<div class="container__home">
    <router-outlet></router-outlet>
</div>