$colorTextMenu: #001e39;
$colorTextHover: #0d6dc8;
$colorGrayOpacity33: #666666c1;
$trantion_025 : all 0.25s linear;
.container_home {
    max-width: 1440px;
    margin: 0 auto;
}
.main {
    padding: 0px 16px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__left--logo {
        & img {
            margin-top: 5px;
            width: 82px;
            fill: #001e39;
        }
    }
    &__left--menu {
        margin-left: 50px;
        display: flex;
        align-items: center;
        gap: 20px;
        & button {
            text-decoration: none;
            font-size: 16px;
            color: $colorTextMenu;
            font-weight: 500;
            background-color: transparent;
            border: none;
            &:focus {
                outline: none;
            }
            &:hover {
                font-weight: bolder;
                color: $colorTextHover;
            }
            &.active {
                font-weight: bolder;
                color: $colorTextHover;
            }
        }
    }
    &__right {
        display: flex;
        gap: 26px;
        align-items: center;
        & .input__search {
            overflow: hidden;
            & input {
                font-size: 16px;
                padding: 5px 24px;
                border-radius: 20px;
                border: 1px solid $colorGrayOpacity33;
                transition: $trantion_025;
                &:focus {
                    outline: none;
                    border: 1px solid $colorTextHover;
                }
            }
        }
        & button {
            font-size: 20px;
            background-color: transparent;
            border: none;
            color: $colorTextMenu;
            transition: $trantion_025;
            &:focus {
                outline: none;
            }
            &:hover {
                color: $colorTextHover;
            }
        }
        & .button__login {
            font-size: 15px;
            border: 1px solid;
            padding: 2px 8px;
            border-radius: 20px;
        }
        & .sigun_up{
            border: none;
            position: relative;
            &::after{
                content: "";
                height: 2px;
                width: 0%;
                background-color: $colorTextHover;
                position: absolute;
                bottom: 0px;
                left: 0px;
                transition: $trantion_025;
            }
            &:hover::after{
                width: 100%;
            }
        }
    }
}
