$colorGrayOpacity33: #666666c1;
$colorBlack: rgb(0, 0, 0);
$trantion_025: all 0.25s linear;
$border_dashed: 2px dashed $colorBlack;
$colorWite_f7f7: #f7f7f7;
.container__home {
    max-width: 1440px;
    margin: 0 auto;
}
.main {
    padding: 0px 16px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__left--logo {
        & img {
            width: 90px;
            border: 2px dashed transparent;
        }
        margin-right: 64px;
    }
    &__left--menu {
        margin-left: 50px;
        display: flex;
        align-items: center;
        gap: 10px;
        & button {
            text-decoration: none;
            font-size: 14px;
            font-weight: 700;
            background-color: transparent;
            border: none;
            padding: 0px 8px;
            border: 2px dashed transparent;
            border-radius: 20px;
            color: $colorBlack;
            font-family: "Samsung Sharp Sans", arial, sans-serif;
            &:focus {
                outline: none;
            }
            &:hover {
                background-color: black;
                color: white;
            }
            &.active {
                background-color: black;
                color: white;
            }
        }
    }
    &__right {
        display: flex;
        gap: 26px;
        align-items: center;
        & .btn__infomation {
            position: relative;
            & .group__user {
                position: absolute;
                width: 175px;
                display: none;
                top: 32px;
                right: -16px;
                z-index: 99999999;
                transition: all 0.25s linear;
                & .group__user--btn {
                    margin-top: 10px;
                    border-radius: 20px;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    padding: 20px 12px;
                    transition: all 0.25s linear;
                    opacity: 0;
                    & button {
                        font-family: "Samsung Sharp Sans", arial, sans-serif;
                        border-radius: 0px;
                        border: none;
                        text-align: left;
                        font-weight: 700;
                        padding: 8px;
                        &:hover {
                            color: $colorBlack;
                            background-color: transparent;
                            font-weight: 600;
                        }
                    }
                }
            }
            & button {
                font-family: "Samsung Sharp Sans", arial, sans-serif;
                font-size: 14px;
                padding: 10px 24px;
                color: white;
                background-color: rgb(0, 0, 0);
                border: 1px solid;
                border-radius: 20px;
                font-weight: 700;
                padding: 4px 15px;
                background-color: transparent;
                color: rgb(0, 0, 0);
                &:hover {
                    color: white;
                    background-color: $colorBlack;
                }
            }
            &:hover {
                & .group__user {
                    & .group__user--btn {
                        opacity: 1;
                    }
                    display: block;
                }
            }
        }
        & .input__search {
            position: relative;
            border-radius: 20px;
            border: 1px solid $colorGrayOpacity33;
            width: 22rem;
            padding: 0px 13px;
            & input {
                padding: 1px 10px;
                border: 1px solid transparent;
                width: 90%;
                &:focus {
                    outline: none;
                    border: 1px dashed $colorBlack;
                }
            }
            & .list__search {
                position: absolute;
                width: 26rem;
                height: 20rem;
                overflow-y: auto;
                border-radius: 0px 0px 20px 20px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                background-color: white;
                top: 56px;
                left: -35px;
                z-index: 9999;
                &::-webkit-scrollbar {
                    width: 2px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: rgb(209, 209, 209);
                    border-radius: 10px;
                }
                &--item {
                    border: none;
                    display: flex;
                    align-items: center;
                    gap: 4rem;
                    width: 100%;
                    border-radius: 0px;
                    text-align: left;
                    padding: 10px 30px;
                    & .image {
                        width: 50px;
                        height: 50px;
                        & img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    & .name {
                        & h6 {
                            margin: 0px;
                            font-size: 14px;
                            font-weight: bold;
                        }
                        & .pice {
                            margin-top: 10px;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            font-size: 14px;
                            & p {
                                margin: 0px;
                                font-weight: 700;
                            }
                            & span {
                                color: #006bea;
                                text-decoration: line-through;
                                font-size: 12px;
                            }
                        }
                    }
                    &:hover {
                        background-color: $colorWite_f7f7;
                    }
                }
            }
        }
        & button {
            font-family: "Samsung Sharp Sans", arial, sans-serif;
            font-weight: 400;
            font-size: 18px;
            background-color: transparent;
            border: none;
            color: $colorBlack;
            border: $border_dashed;
            border-color: transparent;
            padding: 0px 8px;
            border-radius: 20px;
            &:focus {
                outline: none;
            }
        }
        & .button__login {
            font-family: "Samsung Sharp Sans", arial, sans-serif;
            font-weight: 400;
            font-size: 14px;
            border: 1px solid;
            padding: 2px 8px;
            border-radius: 20px;
            &:hover {
                border: 1px solid $colorBlack;
                background-color: $colorBlack;
                color: white;
            }
        }
        & .sigun_up {
            border: $border_dashed;
            border-color: transparent;
            position: relative;
            margin-left: 10px;
            &:hover {
                border: $border_dashed;
                background-color: transparent;
                color: $colorBlack;
            }
        }
        & .btn__cart {
            position: relative;
            & span {
                position: absolute;
                top: 0px;
                right: 0px;
                min-width: 12px;
                height: 12px;
                border-radius: 50%;
                padding: 0 2px;
                // background-color: #006bea;
                background-color: #ef3434;
                color: white;
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}
//  footer
.main__footer {
    margin-top: 48px;
    color: $colorBlack;
    &--top {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        & .footer__top {
            border: 1px solid $colorGrayOpacity33;
            border-left: 0px;
            &--title {
                font-size: 18px;
                color: $colorBlack;
                padding: 16px;
                margin: 0px;
            }
            &--item {
                & ul {
                    padding: 0px;
                }
                & li {
                    list-style: none;
                    margin-top: 18px;
                    & a {
                        padding: 6px 16px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    & .border__none {
        border-right: 0px !important;
    }
    &--body {
        padding: 20px 0px;
        & .foorter__body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 16px;
            & .about__bode {
                line-height: 1;
            }
            & .about__logo {
                img {
                    width: 100px;
                    height: 50px;
                    object-fit: cover;
                }
            }
        }
    }
}

.nav--sticky {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
    background-color: white;
    transition: all 0.25s linear;
    animation: sticky 0.25s linear;
    height: 74px;
    border-bottom: 1px solid #f2f2f2;
    & .main {
        height: 74px;
    }
}
@keyframes sticky {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}
