<header>
    <div class="main">
        <div class="main__item">
            <div class="main__item--button">
                <button>
                    <i class="fa-solid fa-arrow-left"></i>
                    <span>Quay lại</span>
                </button>
            </div>
        </div>
        <div class="main__item--link">
            <a href="/login">Đăng nhập</a>
        </div>
    </div>
</header>
<section class="container__login">
    <div class="container__login--top">
        <!-- <img src="./assets/logo-duan-a.fish/Beige_Blue_Simple_Fishing_Store_Logo-removebg-preview.png" alt=""> -->
        <h1>Đăng kí</h1>
        <p class="title__create--account">Bạn đã có tài khoản? <span><a href="/login/email">Đăng nhập</a></span></p>
    </div>
    <div class="forget__main">
        <mat-stepper [linear]="isLinear" #stepper>
            <!-- Email && số điện thoại -->
            <mat-step [stepControl]="email_phone">
                <form [formGroup]="email_phone">
                    <ng-template matStepLabel>Email, số điện thoại</ng-template>
                    <div class="controll__input">
                        <label for="email">Email</label><br>
                        <input type="email" id="email" placeholder="Nhập email của bạn" formControlName="email"
                            required><br>
                        <span *ngIf="email_phone.get('email')?.errors?.['required']">Bạn chưa nhập email</span>
                        <span *ngIf="email_phone.get('email')?.errors?.['email']">Email không đúng định dạng</span>
                    </div>
                    <div class="controll__input">
                        <label for="phone">Số điện thoại</label><br>
                        <input type="text" maxlength="10" id="phone" placeholder="Nhập số điện thoại của bạn"
                            formControlName="phone" required><br>
                        <span *ngIf="email_phone.get('phone')?.errors?.['required']">Bạn chưa nhập số điện thoại</span>
                    </div>
                    <div>
                        <!-- <button mat-button matStepperNext>Next</button> -->
                        <button matStepperNext [disabled]="email_phone.invalid">Tiếp tục</button>
                    </div>
                </form>
                <button>Tiếp tục với google</button>
            </mat-step>
            <!-- Email && số điện thoại -->

            <!-- Điền thông tin -->
            <mat-step [stepControl]="full_name">
                <form [formGroup]="full_name">
                    <ng-template matStepLabel>Điền thông tin</ng-template>
                    <div class="controll__input">
                        <label for="fullName">Họ tên</label> <br>
                        <input formControlName="fullname" type="text" id="fullName" placeholder="Nhập họ tên"
                            required><br>
                        <span>Bạn chưa nhập email</span>
                    </div>
                    <div class="controll__input">
                        <label for="address">Địa chỉ</label> <br>
                        <input type="text" id="address" placeholder="Nhập địa chỉ" required
                            formControlName="address"><br>
                        <span>Bạn chưa nhập email</span>
                    </div>
                    <div>
                        <button matStepperNext>Tạo tên đăng nhập</button>
                    </div>
                </form>
            </mat-step>
            <!-- Điền thông tin -->

            <!-- Tên đăng nhập -->
            <mat-step [stepControl]="userName" label="Tên đăng nhập">
                <form [formGroup]="userName">
                    <!-- <mat-form-field>
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                    </mat-form-field> -->
                    <div class="controll__input">
                        <label for="userName">Tên đăng nhập</label><br>
                        <input type="text" id="userName" placeholder="Nhập tên đăng nhập" formControlName="username"
                            required><br>
                        <span>Bạn chưa nhập email</span>
                    </div>
                    <div class="flex-center">
                        <button matStepperNext>Tạo mật khẩu</button>
                        <button matStepperNext class="skip__create--username">Bỏ qua</button>
                    </div>
                </form>
            </mat-step>
            <!-- Tên đăng nhập -->

            <!-- Mật khẩu -->
            <mat-step>
                <form [formGroup]="passWord">
                    <ng-template matStepLabel>Tạo mật khẩu</ng-template>
                    <div class="controll__input">
                        <div class="main__label">
                            <label for="newPassword">Nhập mật khẩu</label>
                            <div class="main__label--item">
                                <button (click)="ShowPassWord()">
                                    <i class="fa-regular"
                                        [ngClass]="{'fa-eye-slash' : iconButotn , 'fa-eye' : !iconButotn}"></i>
                                    <span> {{tileButtonShowPassword}} </span>
                                </button>
                            </div>
                        </div>
                        <input [type]="hasPassword ? 'text' : 'password'" id="newPassword"
                            placeholder="Nhập mật khẩu mới" required formControlName="password"><br>
                        <span>Bạn chưa nhập email</span>
                    </div>
                    <div class="controll__input">
                        <div class="main__label">
                            <label for="confirmPassword">Nhập mật khẩu mới</label>
                            <div class="main__label--item">
                                <button (click)="ShowConfirm()">
                                    <i class="fa-regular"
                                        [ngClass]="{'fa-eye-slash' : iconButotnConfirm , 'fa-eye' : !iconButotnConfirm}"></i>
                                    <span> {{tileButtonShowConfirm}} </span>
                                </button>
                            </div>
                        </div>
                        <input [type]="hasConfirmPass ? 'text' : 'password'" id="confirmPassword"
                            placeholder="Xác nhận mật khẩu" required formControlName="confirmPass"><br>
                        <span>Bạn chưa nhập email</span>
                    </div>
                    <div>
                        <button (click)="SumbitForm()">Tạo tài khoản</button>
                    </div>
                </form>
            </mat-step>
            <!-- Mật khẩu -->
        </mat-stepper>
    </div>

</section>