<header>
    <div class="main">
        <div class="main__item">
            <div class="main__item--button">
                <button>
                    <i class="fa-solid fa-arrow-left"></i>
                    <span>Quay lại</span>
                </button>
            </div>
        </div>
        <div class="main__item--link">
            <a href="/login/email">Đăng nhập</a>
        </div>
    </div>
</header>
<section class="container__login">
    <div class="container__login--top">
        <!-- <img src="./assets/logo-duan-a.fish/Beige_Blue_Simple_Fishing_Store_Logo-removebg-preview.png" alt=""> -->
        <h1>Quên mật khẩu</h1>
        <p class="title__create--account">Bạn chưa có tài khoản? <span><a href="/sign-up">Tạo tài khoản</a></span></p>
    </div>
    <div class="forget__main">
        <mat-stepper [linear]="isLinear" #stepper>
            <!-- Nhập email -->
            <mat-step [stepControl]="GetEmail">
                <form [formGroup]="GetEmail">
                    <ng-template matStepLabel>Nhập email của bạn</ng-template>
                    <div class="controll__input">
                        <label for="email">Email</label><br>
                        <input type="email" id="email" placeholder="Nhập email của bạn" formControlName="email"
                            required><br>
                        <span>Bạn chưa nhập email</span>
                    </div>
                    <div>
                        <!-- <button mat-button matStepperNext>Next</button> -->
                        <button matStepperNext class="d-flex align-items-center justify-content-center gap-3">
                            Tiếp tục <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>
                </form>
            </mat-step>
            <!-- Nhập email -->
            <!-- Nhập mã OTP -->
            <mat-step [stepControl]="GetCodeOTP" label="Nhập mã OTP">
                <h5 class="title__getOTP">Nhập mã OTP đã gửi về lesykiengmail.com <button>Gửi lại(1/3)</button></h5>
                <form [formGroup]="GetCodeOTP">
                    <!-- <mat-form-field>
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                    </mat-form-field> -->
                    <div class="controll__input">
                        <label for="codeOTP">Nhập mã OTP</label><br>
                        <input type="email" id="codeOTP" placeholder="Nhập mã OTP " formControlName="codeOTP"
                            required><br>
                        <span>Bạn chưa nhập email</span>
                    </div>
                    <div class="flex-center">
                        <button matStepperPrevious class="previous__steep"> <i class="fa-solid fa-arrow-left"></i> Quay
                            lại</button>
                        <button matStepperNext>Tiếp tục <i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </form>
            </mat-step>
            <!-- Nhập mã OTP -->
            <!-- Thay đổi mật khẩu -->
            <mat-step>
                <ng-template matStepLabel>Thay đổi mật khẩu</ng-template>
                <form [formGroup]="NewPassword">
                    <div class="controll__input">
                        <div class="main__label">
                            <label for="newPassword">Nhập mật khẩu mới</label>
                            <div class="main__label--item">
                                <button><i class="fa-regular fa-eye"></i> <span>hiển thị mật khẩu</span></button>
                            </div>
                        </div>
                        <input type="password" id="newPassword" placeholder="Nhập mật khẩu mới" required
                            formControlName="newpassword"><br>
                        <span>Bạn chưa nhập email</span>
                    </div>
                    <div class="controll__input">
                        <div class="main__label">
                            <label for="confirmPassword">Nhập mật khẩu mới</label>
                            <div class="main__label--item">
                                <button><i class="fa-regular fa-eye"></i> <span>hiển thị mật khẩu</span></button>
                            </div>
                        </div>
                        <input type="password" id="confirmPassword" placeholder="Xác nhận mật khẩu" required
                            formControlName="confirmpass"><br>
                        <span>Bạn chưa nhập email</span>
                    </div>
                </form>
                <div>
                    <button (click)="stepper.reset()">Thay đổi mật khẩu</button>
                </div>
            </mat-step>
            <!-- Thay đổi mật khẩu -->
        </mat-stepper>
    </div>

</section>