<header>
    <div class="main">
        <div class="main__item">
            <div class="main__item--button">
                <button>
                    <i class="fa-solid fa-arrow-left"></i>
                    <span>Quay lại</span>
                </button>
            </div>
        </div>
        <div class="main__item--link">
            <a href="/login">Đăng nhập</a>
        </div>
    </div>
</header>
<section class="container__login">
    <div class="container__login--top">
        <img src="./assets/logo-duan-a.fish/Beige_Blue_Simple_Fishing_Store_Logo-removebg-preview.png" alt="">
        <h1>Quên mật khẩu</h1>
        <p class="title__create--account">Bạn chưa có tài khoản? <span><a href="/sign-up">Tạo tài khoản</a></span></p>
    </div>
    <div class="forget__main">
        <mat-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Nhập email của bạn</ng-template>
                    <div class="controll__input">
                        <label for="email">Email</label><br>
                        <input type="email" id="email" placeholder="Nhập email của bạn" formControlName="firstCtrl"
                            required><br>
                        <span>Bạn chưa nhập email</span>
                    </div>
                    <div>
                        <!-- <button mat-button matStepperNext>Next</button> -->
                        <button matStepperNext (click)="Step_Next()" >Tiếp tục</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Nhập mã OTP">
                <form [formGroup]="secondFormGroup">
                    <!-- <mat-form-field>
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                    </mat-form-field> -->
                    <div class="controll__input">
                        <label for="email">Nhập mã OTP</label><br>
                        <input type="email" id="email" placeholder="Nhập mã OTP " formControlName="secondCtrl"
                            required><br>
                        <span>Bạn chưa nhập email</span>
                    </div>
                    <button matStepperNext>Tiếp tục</button>
                    <!-- <div class="flex-center">
                        <button matStepperPrevious>Quay lại</button>
                    </div> -->
                </form>
            </mat-step>
            
            <mat-step>
                <ng-template matStepLabel>Thay đổi mật khẩu</ng-template>
                <div class="controll__input">
                    <div class="main__label">
                        <label for="email">Nhập mật khẩu mới</label>
                        <div class="main__label--item">
                            <button><i class="fa-regular fa-eye"></i> <span>hiển thị mật khẩu</span></button>
                        </div>
                    </div>
                    <input type="password" id="email" placeholder="Nhập mật khẩu mới" required><br>
                    <span>Bạn chưa nhập email</span>
                </div>
                <div class="controll__input">
                    <div class="main__label">
                        <label for="email">Nhập mật khẩu mới</label>
                        <div class="main__label--item">
                            <button><i class="fa-regular fa-eye"></i> <span>hiển thị mật khẩu</span></button>
                        </div>
                    </div>
                    <input type="password" id="email" placeholder="Xác nhận mật khẩu" required><br>
                    <span>Bạn chưa nhập email</span>
                </div>
                <div>
                    <button (click)="stepper.reset()">Thay đổi mật khẩu</button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>

</section>