<aside class="main__aside container_home">
    <div class="main__aside--img">
        <img src="https://images.samsung.com/is/image/samsung/assets/vn/home/2024/REPLACE-2024-bespoke-ai-home-kv-pc.png?imwidth=1366"
            alt="https://images.samsung.com/is/image/samsung/assets/vn/home/2024/REPLACE-2024-bespoke-ai-home-kv-pc.png?imwidth=1366">
    </div>
    <div class="main__aside--content">
        <h2> Chào đón kỉ nguyên <br> BESPOKE AI</h2>
        <p>Do less, live more. Giải pháp AI và <br />
            Smart Home với deal siêu tiết <br />
            kiệm lên đến 15%. Đến 30.04"
        </p>
        <div class="content__button">
            <button class="content__button--more">Tìm hiểu thêm</button>
            <button>Mua ngay</button>
        </div>
    </div>
</aside>